<!-- javascript for this view. -->

<h1>{{status}}</h1>
<h3>{{friendly}}</h3>

<div class="message">
  <p class="kthLovesGeeks">HTTP {{status}}: {{message}}</p>
  {{#if error.stack}}
    <pre>{{error.stack}}</pre>
  {{/if}}
</div>
